*{
    margin: 0px;
    padding: 0px;
}
#marquee_div{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid white;
    background-color: black;
    
}
#marqueeline{
    
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}



                     /* sectionA */





.container_head{
    height: 600px;
    width: 100%;
    /* border: 1px solid black; */
    overflow: hidden;
    position: relative;
    top: 0px;
    
    
}

#main_banner{
    height: 600px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    
}
#container_tags{
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.13);
    position: absolute;
    top: 0px;
    
    

}
#nav_bar_backgrnd{
    height: 100px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.925) ,rgba(0, 0, 0, 0));
    

}


#hover_bckgrnd{
    height: 75px;
    width: 100%;
    /* background-color: aliceblue; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: space-between;
    position: relative;
}
#hover_bckgrnd:hover{
    background-color: white;
}


#div_menu{
    height: 30px;
    width: 30px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    position: absolute;
    left: 40px;
    background-image: url("menu_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png");
    background-size: contain;
    cursor: pointer;
}
#hover_bckgrnd:hover #div_menu{
    background-image: url("menu_24dp_000000_FILL0_wght400_GRAD0_opsz24.png");
}
#div_logo{
    height: 40px;
    width: 145px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    position: absolute;
    left: 600px;
    background-image: url("LOGO_PNG_white_v01.png");
    background-size:contain;
    cursor: pointer;
}
#hover_bckgrnd:hover #div_logo{
    background-image: url("LOGO_PNG_V01.png ");
}
#div_tools{
    height: 50px;
    width: 250px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
}
#slect_box{
    height: 50px;
    width: 100px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    
}
#selct_A{
    font-size: 13px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    letter-spacing: 2px;
}
#hover_bckgrnd:hover #selct_A{
    color: black;
    opacity: 0.7;
}
#accont_icon{
    height: 30px;
    width: 30px;
    /* border: 1px solid black; */
    display: flex;
    align-self: center;
    background-image: url("person_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png");
    background-size: contain;
    margin-right: 10px;
    cursor: pointer;
    
}
#hover_bckgrnd:hover #accont_icon{
    background-image: url("person_24dp_000000_FILL0_wght400_GRAD0_opsz24.png");
}
#accont_iconA{
    height: 30px;
    width: 30px;
    /* border: 1px solid black; */
    display: flex;
    align-self: center;
    background-image: url("search_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png");
    background-size: contain;
    margin-right: 10px;
    cursor: pointer;

    
}
#hover_bckgrnd:hover #accont_iconA{
    background-image: url("search_24dp_000000_FILL0_wght400_GRAD0_opsz24.png");
}

#accont_iconB{
    height: 30px;
    width: 30px;
    /* border: 1px solid black; */
    display: flex;
    align-self: center;
    background-image: url("shopping_bag_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png");
    background-size: contain;
    margin-right: 10px;
    cursor: pointer;

    
}
#hover_bckgrnd:hover #accont_iconB{
    background-image: url("shopping_bag_24dp_000000_FILL0_wght400_GRAD0_opsz24.png");
}


#butn_div{
    height: 150px;
    width: 400px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 500px;
    left: 500px;
}
#butnA{
    height: 45px;
    width: 150px;
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid white;
    background: linear-gradient(to right, #ffffff00 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: right; 
    color: black;
    cursor: pointer;
    transition: background-position 0.7s ease; 
    letter-spacing: 3px;
}
#butnB{
    height: 45px;
    width: 150px;
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid black;
    background: linear-gradient(to right, #ffffff00 50%, #000000 50%);
    background-size: 200% 100%;
    background-position: right; 
    color: white;
    cursor: pointer;
    transition: background-position 0.7s ease; 
    letter-spacing: 3px;
}
#butnA:hover{
 
    color: white; 
    background-position: left; 
}

#butnB:hover{
 
    color: black; 
    background-position: left; 
}



                    /* sectionB */

#main_grid_outer_A{
    height: 850px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    border-bottom:1px solid rgba(0, 0, 0, 0.226) ;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container_gridA{
    height: 700px;
    width: 90%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 30px;
}

/* .gridA{
    border: 1px solid black;
} */
#gridA1{
    height: 510px;
    background-image: url("https://baroque.pk/cdn/shop/files/02_Banner222.jpg?v=1733469789&width=500");
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;
}
#gridA2{
    height: 510px;
    background-image: url("https://baroque.pk/cdn/shop/files/02_Banner226.jpg?v=1734352475&width=500");
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;
}

#gridA3{
    height: 510px;
    background-image: url("https://baroque.pk/cdn/shop/files/02_Banner223.jpg?v=1733469984&width=500");
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;
}

#gridA4{
    font-size: 25px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 82px;
}
#gridA5{
    font-size: 25px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 82px;
}
#gridA6{
    font-size: 25px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 82px;
}

#gridA7{
    display: flex;
    justify-content: center;
}
#butnB1{
    height: 45px;
    width: 140px;
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid black;
    background: linear-gradient(to right, #ffffff00 50%, #000000 50%);
    background-size: 200% 100%;
    background-position: right; 
    color: white;
    cursor: pointer;
    transition: background-position 0.7s ease; 
    letter-spacing: 3px;
}
#butnB1:hover{
 
    color: black; 
    background-position: left; 
}

#gridA8{
    display: flex;
    justify-content: center;
}
#butnB2{
    height: 45px;
    width: 140px;
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid black;
    background: linear-gradient(to right, #ffffff00 50%, #000000 50%);
    background-size: 200% 100%;
    background-position: right; 
    color: white;
    cursor: pointer;
    transition: background-position 0.7s ease; 
    letter-spacing: 3px;
}
#butnB2:hover{
 
    color: black; 
    background-position: left; 
}
#gridA9{
    display: flex;
    justify-content: center;
}

#butnB3{
    height: 45px;
    width: 140px;
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid black;
    background: linear-gradient(to right, #ffffff00 50%, #000000 50%);
    background-size: 200% 100%;
    background-position: right; 
    color: white;
    cursor: pointer;
    transition: background-position 0.7s ease; 
    letter-spacing: 3px;
}
#butnB3:hover{
 
    color: black; 
    background-position: left; 
}





            /* sectionC */

#main_div_headC{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}
#sectionC_head{
    height: 60px;
    width: 337px;
    border-bottom: 1px solid black;
    font-size: 35px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 70px;
    
}

#main_sectionC{
    height: 800px;
    width: 100%;
    /* border: 1px solid black;  */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}


#container_leftA{
    height: 700px;
    width: 55%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
    align-items: center;
}


#container_rightA{
    height: 700px;
    width: 45%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img_mainleftA{
    height: 670px;
    width: 500px;
    /* border: 1px solid black; */
    background-image: url("https://baroque.pk/cdn/shop/files/Shop_The_Look89.jpg?v=1734352738&width=600");
    background-size: contain;
    background-repeat: no-repeat;
    

}
#img_mainRightA{
    height: 400px;
    width: 270px;
    /* border: 1px solid black; */
    background-image: url("https://baroque.pk/cdn/shop/files/97_e6959df6-c57a-4f1a-9ca1-86648622fbcc.jpg?v=1733310074&width=1000");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    right: 90px;
    cursor: pointer;
    
}
#img_mainRightA:hover{
    background-image: url("https://baroque.pk/cdn/shop/files/98_fa9cf400-f494-405c-86b4-1a327a71233d.jpg?v=1733310074&width=500");
}
#contnt_A{
    height: 70px;
    width: 270px;
    /* border: 1px solid black; */
    font-size: 17px;
    letter-spacing: 3px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    right: 90px;

}
#butn_div_cont_A{
    height: 60px;
    width: 270px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    right: 90px;
    
}
#butncontA{
    height: 45px;
    width: 200px;
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid black;
    background: linear-gradient(to right, #ffffff00 50%, #000000 50%);
    background-size: 200% 100%;
    background-position: right; 
    color: white;
    cursor: pointer;
    transition: background-position 0.7s ease; 
    letter-spacing: 3px;
}
#butncontA:hover{
 
    color: black; 
    background-position: left; 
}





            /* sectionD */



#main_div_headD{
    height: 170px;
    width: 100%;
    /* border: 1px solid black;x */
    display: flex;
    justify-content: center;
    align-items: end;
    

}
#sectionD_head{
    height: 60px;
    width: 337px;
    /* border-bottom: 1px solid black; */
    font-size: 35px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 70px;
    position: relative;
    bottom: 30px;
}            

#main_sectionD{
    height: 800px;
    width: 100%;
    /* border: 1px solid black;  */
    display: flex;
    flex-direction: row;
    /* column-gap: 20px; */
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}
.vidsectionD{
    height: 650px;
    width: 400px;
    /* border: 1px solid black; */
    position: relative;
    
}



.vidsectionD video {
    width: 400px;
    height: 650px;
    
}

    
.butun_div_D{
    height: 60px;
    width: 400px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    bottom: 30px;
    
}
.vidsectionD button{
    height: 45px;
    width: 170px;
    
    font-size: 13px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid black;
    background: linear-gradient(to right, #ffffff00 50%, #000000 50%);
    background-size: 200% 100%;
    background-position: right; 
    color: white;
    cursor: pointer;
    transition: background-position 0.7s ease; 
    letter-spacing: 3px;
    
}
.vidsectionD button:hover{
 
    color: black; 
    background-position: left; 
}

#subscribe{
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
    letter-spacing: 5px;
    font-size: 14px;
}

#inputbutn{
    height: 110px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

}
#inputA{
    height: 45px;
    width: 280px;
    font-size: 17px;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.363);
}
#butnAA{
    height: 45px;
    width: 200px;
    font-size: 17px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid black;
    background: linear-gradient(to right, #ffffff00 50%, #000000 50%);
    background-size: 200% 100%;
    background-position: right; 
    color: white;
    cursor: pointer;
    transition: background-position 0.7s ease; 
    letter-spacing: 3px;
}

#butnAA:hover{
 
    color: black; 
    background-position: left; 
}